body::before{
    display: block;
    content:' ';
    height: 40px;
}
/* Blogs/Boxes */
#blog_coding{
    background-color:darkorange;
    display:flex;
}
#blog_editing{
    background-color: skyblue;
    display:flex;
}
#blog_school{
    background-color:rgb(127,255,0);
    display:flex;
}
#blog_gaming{
    background-color:	rgb(238,130,238);
    display:flex;
}
/*Learn Section 2*/
#learn2{
    background-color:rgb(72,209,204);
    display:flex;
}
/* Skills */
#skill_card_cpp{
    background-color:lightblue;
}
#skill_card_photoshop{
    background-color:lightpink;
}
#skill_card_premierepro{
    background-color:lightgreen;
}
#skill_card_webdev{
    background-color:violet;
}
/* Projects */
#project_btn_cpp{
    background-color:lime;
}
#project_btn_photoshop{
    background-color:orange;
}
#project_btn_otherwebdev{
    background-color:darkorchid;
}
/* MAPS */
#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
